@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: #fff;
  color: #333;
  font-family: "Open Sans", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #28E04D;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.circle {
  stroke-dasharray: 300;
  -webkit-animation: dash 6s linear infinite, dash1 3s linear infinite;
          animation: dash 6s linear infinite, dash1 3s linear infinite;
  transform-origin: 50% 50%;
}

@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 1200;
  }
  100% {
    stroke-dashoffset: 600;
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 1200;
  }
  100% {
    stroke-dashoffset: 600;
  }
}
@-webkit-keyframes dash1 {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes dash1 {
  100% {
    transform: rotate(360deg);
  }
}